fastapi>=0.111.0
pydantic>=2.0.0
uvicorn==0.24.0
python-dotenv==1.0.0
sqlalchemy==2.0.29

pydantic[email]
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
psycopg2-binary==2.9.9
requests==2.31.0
together==0.2.5
